/*header*/

    .header{
        height: 145px;
        background-color: #232323;
        color: rgb(232,150,29);

    }
    .logoHeader {
        float: left !important;


    }
    .title {
        text-align: center;
        color: rgb(232,150,29);

    }
    .Localisation{
        float:  right;
        padding: 3% 2% 0 0;
        color: rgb(232,150,29);
    }
    h1{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        color: rgb(232,150,29);

    }

    /*navigation*/

        .menu {
            border: solid 2px gray;
            border-radius: 10px;
            font-size: 20px;
            padding: 0 1% 0 1%;
        }
        .listMenu{
            height: 30px;
            width: 100%;
            background-color: black;
            position: sticky;
            top: 0;


        }

/*footer*/

     footer{
        height: 350px;
        background-color: #111;
        color: rgb(232,150,29);
    }
    .textFooter{
        text-align: center;
        font-size: 25px;
    }
    .listOfSchools{
        text-align: center;
        font-family: Lobster;
        color: rgb(232,150,29);
        padding-top: 3%;
    }
    .socialNetworks{
        font-size: 15px;
        text-align: center;
        padding: 5% 0 0 0;
    }
    .logoSocialNetworks{
        font-size: 40px;
    }
    .rightText{
        font-size: 15px;
        text-align: right;
        padding: 0 1% 0 0;
    }
    a{
        padding: 0 10px 0 10px;
    color: rgb(232,150,29);
    }

    a:visited{
        color:rgb(232,150,29);
    }
    a:hover{
        color: white;
    }
